<html>

<head>
  <title> Todo List</title>
  <!-- jQuery library
   <script src="/todo-list.js"></script>-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link href="stylesheets/index.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <div class="todo-overflow-hidden">
    <div class="header-row js-header">
      <div class="menubar-container">
        <div class="brand-logo-name">
          <img src="images/todo-list.jpg">
        </div>

        <div class="menubar-actions-container">
          <ul class="menubar-actions">
            <li><a class="menubar__action-link " href="/about">More about</a></li>
            <li><a class="menubar__action-link " href="/contact">Contact</a></li>
            <li><a class="menubar__action-link sel_login" href="/login" >Log in</a></li>
            <li><a class="menubar__action-link sel_signUp" href="/signUp" >Sign up</a></li>
          </ul>
          <br style="clear: both">
        </div>
      </div>
    </div>
    <br style="clear: both">
    <div class="features">
      <div class="features-wrapper">
        <div class="feature-row">
        <div class="col">
          <div class=description-holder>
            <span class="inline-block feature-item-icon">
               <img src="./images/tick-box-50-green.png">
             </span>
            <h3 class="inline-block"> Organize your actions</h3>
            <p class="description">
              "Plan and organize your action. "
            </p>
          </div>
        </div>
        <div class="col image">
          <span class="inline-block feature-item-picture">
           <img src="images/list-image.jpg">
         </span>
        </div>
      </div>
      </div>

      <div class="features-wrapper">
        <div class="feature-row row-reverse">
        <div class="col">
          <div class="description-holder">
            <span class="inline-block feature-item-icon">
               <img src="images/tick-box-50-green.png">
             </span>
            <h3 class="inline-block"> Organize your actions</h3>
            <p class="description">
              "Plan and organize your action. Check everything by the easiest way"
            </p>
          </div>
        </div>
        <div class="col image">
          <span class="inline-block feature-item-picture">
             <img src="images/second-image.jpg">
           </span>
        </div>
      </div>
      </div>
      <div class="features-wrapper">
        <div class="feature-row">
        <div class="col">
          <div class="description-holder">
            <span class="inline-block feature-item-icon">
               <img src="images/tick-box-50-green.png">
             </span>
            <h3 class="inline-block"> Organize your actions</h3>
            <p class="description">
              "Plan and organize your action. "
            </p>
          </div>
        </div>
        <div class="col image">
          <span class="inline-block feature-item-picture">
           <img src="images/list-image.jpg">
         </span>
        </div>
      </div>
    </div>
    </div>
  </div>
</body>
</html>
