body{}
*{
   box-sizing: border-box;
   margin:0;
   padding: 0;
}

ul{
 list-style-type: none;
}

a{
  text-decoration: none;
}

.overflow-hidden{
  overflow-y: hidden;
}

.main-container{
  height: 100%;
  width:100%;
  min-height: 390px;
  min-width: 250px;
  display: flex;
  flex-direction: row;
}

.listside{
  transition: width 100ms ease;
  flex-basis: 350px;
  z-index: 2;
  position: relative;
  background-color: #E6F4F1;
}
.contentside{
 z-index: 2;
 width: 100%;
 background-image: linear-gradient(135deg, #E7FEFD, #E7FEFD 60%,#D9FF98);
 display: flex;
 flex-direction: row;
}

#personal-list{
  overflow-y: scroll;
}


.list-container{
  display: flex;
  flex-direction: column;
}

.search-toolbar,
.newItem-toolbar,
.user-toolbar{
  background-image: linear-gradient(to right top, #0089BA,#00A7C5, #00C2BB);
  display: flex;
  flex-direction: row;
  height: 50px;
}

.user-toolbar{
background-image: linear-gradient(to right top, #C1DDE7, #E7FEFD);
}

.user-toolbar,
.newItem-toolbar{
 border-top: 1px solid #0089BA;
}

.newItem-toolbar{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  border-radius: 10px;
}


.newItem-toolbar:hover .newItem-text{
  color:black;
  cursor: pointer;
  font-style: italic;
}
.newItem-toolbar:hover .newItem-icon-container{
  background-image: url("/images/addnewHover.png");
}
.newItem-icon-container {
  height: 30px;
  min-width: 30px;
  background-image: url("/images/addnew50.png");
  background-size: 30px 30px;
  margin:10px 5px 10px 10px;
}
.newItem-text {
  width: 100%;
  font: 17px Arial;
  color: white;
  padding: 15px;
  vertical-align: middle;
}
.toogle-listside{
  padding: 4px 4px 4px 4px;
  width: auto;
  justify-content: center;
}

.toogle-listside-icon,
.search-icon{
  background-repeat: no-repeat;
  resize: both;
  align-self: center;
  margin: 4px;
  height: 30px;
  width: 30px;
}

.search-input{
  font: 16px Arial;
  width: 80%;
  background-color: inherit;
  border: none;
}
.search-input:focus{
  outline: none;
}

.search-icon-container{
  display: flex;
}

.user-icon-container{
  height: 44px;
  width: 44px;
}

.user-icon{
  width: auto;
  height: 100%;
  margin: 3px;
}
.user-toolbar .user-name{
  font: 17px Arial ;
  background-color: inherit;
  border: none;
  padding: 15px;
  margin: 0;
}

.list-collect{
  background-color: #E6F4F1;
  overflow-y: auto;
}

#myLists-ul{
  padding-left:0;
  overflow-y: auto;
}

.list-items-li{
 height: 40px;
}

.list-items, .filter-items{
  padding: :0 5px 0 5px;
  color:black;
  display:flex;
  flex-direction: row;
  align-items:center;
  height: 100%;
  z-index:3;
}

.list-items:hover{
  background-image: linear-gradient( #E6F4F1, #AAE0C3 25%, #AAE0C3 75% , #E6F4F1);
  outline: none;
}

.list-filters-ul list-items{
  justify-content: flex-start;
}


.focusList {
  background-image: linear-gradient( #E6F4F1, #AAE0C3 25%, #AAE0C3 75% , #E6F4F1);
  outline: none;
}

.list-items:focus .list-options{
  visibility: visible!important;
}

.list-name{
  margin:0 6px 0 6px;
  width: 70%;
}

.list-options{
  background-image: url("/images/edit_inactive.png");
  width: 20px;
  height: 20px;
  background-size: 20px 20px;
  z-index:4;
}

.list-options:hover{
  background-image: url("/images/edit_active.png");
}

.list-items-li a .list-options,.count,.list-icon-container{
  margin:0 4px 0 4px;
}

.list-icon-container{
  width: 30px;
  height: 30px;
}
#delete-icon-container{
  height: 25px;
  width: 25px;
}
.delete-icon{
  width: 25px;
  height:25px;
}

.list-options{
  width: 20px;
  height: 20px;
  right: 0;
}
.list-icon{
  width: 100%;
  height: 100%;
}
.list-taskcount{
  font-family: monospace;
  font-size: 12px;
  font-style: italic;
  margin-right: 10px;
}


hr{
  background-color: #E6F4F1;
  margin: 0;
}


.list-popup-container{
  position: absolute;
  top:10%;
  left: 45%;
  z-index: 5;
  width:400px;
  height:200px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 5px 10px 20px rgba(72,218,162,0.3), 0 6px 6px rgba(0,0,0,0.23);
}

#confirmDeleteList-container{
  position: absolute;
  top:50px;
  left: 10px;
  width:380px;
  height:150px;
  z-index:4;
  padding:5px;
  display: flex;
  box-shadow: 5px 10px 20px rgba(72,218,162,0.3), 0 6px 6px rgba(0,0,0,0.23);
  background-color: #E6F4F1;
  flex-direction: column;
  justify-content: flex-end;
}

#deletePermButtons{
  height:50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#confirmDeleteList-container p{
  text-align: center;
  margin-top: 7px;
  font-size: 16px;
}
.confirmButtons{
  width: 130px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  border-radius: 5px;
  background-color: #D2DEDC;
}
.confirmButtons:hover{
  background-color: #ACB6B5;
  transform: scale(1.05);
  cursor: pointer;
}
#yes-confirmDeleteList{
  color:#D65557;
}
#yes-confirmDeleteList:hover{
  color:#B04648;
}

#no-confirmDeleteList{
  color:#00A7C5;
}
#no-confirmDeleteList:hover{
  color:#0089A2;
}

.list-popup-container h3,
.newTask-popup-container h3 {
 text-align: center;
 margin-top: 20px;
 margin-bottom: 0;
}

#changeList-popup-container{
  height:250px;
}

.newItemName-input{
  font: 17px Arial;
  width: 370px;
  margin: 15px;
  padding: 5px 10px 5px 10px;
}
.add-cancel-buttons{
  margin: 15px;
  position: relative;
}

#change-cancel-buttons{
  padding: 10px;
  position: relative;
}

.newlist-button{
  height: 35px;
  width: 100px;
  margin-left: 25px;
  margin-right: 25px;
  border-radius: 5px;
  border-color: #00A7C5;
  background-color: #00A7C5;
}

.accept-button{
  position: absolute;
  right: 0;
}

.cancel-button:hover, .delete-button:hover{
 background-color:#D65557;
 color:#CCF6FF;
 border-color: #D65557;
 transform: scale(1.1)
}

.accept-button:hover{
 background-color:#A3ED84;
 border-color: #A3ED84;
 transform: scale(1.1)
}

#deleteList-div{
  padding:10px;
  display: flex;
  justify-content: center;
}
#deleteList{
  line-height: 30px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:#c1dde7;
  border-radius: 10px;
}

#deleteList:hover{
  color:#d65557;
  font-style: italic;
  background-color:#D1FCEB;
  cursor: pointer;
  border-radius: 10px;
  transform: scale(1.05);

}

.delete-list-name{
  margin:5px 5px 5px 10px;
  font: 16px;
}
.delete-button{
  width: 200px;
}

.newTask-popup-container{
  position: absolute;
  top:10%;
  left: 45%;
  z-index: 5;
  width:400px;
  height:350px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 5px 10px 20px rgba(72,218,162,0.3), 0 6px 6px rgba(0,0,0,0.23);
}

#taskNav{
  flex-basis: 40px;
  height: 100%;
  background-color: #E6F4F1;
}
#taskContent{
  width: 100%;
  height: 100%;
  position: relative;
  overflow-y: auto;
}

#taskViewMode{
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content:space-around;
  width: 100%;
  height: 100%;
}

#taskViewMode li{
  min-width: 40px;
  width: 100%;
  height: 50%;
  font-size: 18px;
  line-height: 40px;
  color: black;
  background-image: linear-gradient(90deg, #8DF8B7, #C0FFE0, #8DF8B7);
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  flex-grow: 1;
  position:relative;
  writing-mode: tb;
  text-orientation: upright;
  text-align: center;
  cursor: pointer;
  border:none;
  border-right: 2px solid #00AAAB;
}



#taskViewMode li:hover {
  background-image: linear-gradient(90deg, #D9FF98, #E7FEFD 90%, #E7FEFD);
  color: #783864;
  border: none;
}


#selectedList-name{
  padding-left: 30px;
  height: 50px;
  margin: 0;
  line-height: 50px;
}

#addTask-form{
  margin-top: 10px;
}

#priorityfilter-wrapper{
  padding-right: 30px;
  height: 50px;
  display: flex;
  flex-direction: row-reverse;
  align-items:center;
  background-color: inherit;
  width: 200px;
}

#datetimefilter-wrapper{
  position:relative;
}

#datetimefilter-container{
  position: absolute;
  width:250px;
  left:70px;
  top:39px;
  z-index: 7;
  background-color: #E7FEFD;
  width: 200px;
  box-shadow: 5px 10px 20px rgba(72,218,162,0.3), 0 6px 6px rgba(0,0,0,0.23);
}
#priorityFilter-container{
  position: absolute;
  right:10px;
  top: 49px;
  z-index: 6;
  background-color: #E7FEFD;
  width: 250px;
  box-shadow: 5px 10px 20px rgba(72,218,162,0.3), 0 6px 6px rgba(0,0,0,0.23);
}
#filterPriorities{
  margin:10px;
}

#filterPriorities li:focus{
  margin:10px;
}

#taskContetside-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items:center;
  background-image: linear-gradient(-90deg, #C0FFE0,#CDFFF5, #E7FEFD);
  border-bottom: 1px solid #AFD5ED;
}

.priority-icon{
  height: 100%;
  width: 30px;
}
.drop-icon-container{
  width: 20px;
  height: 20px;
}
#clearTaskFilter{
  border-top: 1px solid #AFD5ED;
  display: flex;
  justify-content: center;
}

#filterdrop-icon{
  height: 20px;
  width: 20px;
}

#critPriLab, .priority4{
  color:#F71B1B;
}
#highPriLab, .priority3{
  color:#CA7215;
}
#medPriLab, .priority2{
  color:#17AD08;
}
#lowPriLab, .priority1{
  color:#348EFF;
}
#noPriLab{
  color:#656463;
}

.pickDateBorder{
  border: 1px solid #348EFF;
  border-top: none;
  padding: 15px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

fieldset legend{
  padding:5px;
}

#task-priority{
  padding-left: 10px;
  width: 25%;
  border: none;
  border-color: #CDFFF5;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#task-priority div{
  margin:3px;
}

#taskParam{
  margin:0 15px 15px 15px;
  min-height: 163px;
  display:flex;
  flex-direction: row;
  justify-content: space-around;
}

.task-datetime{
  font-style: italic;
}

#date-req-container{
  width: 55%;
  display:flex;
  flex-direction: column;
}

.datepicker{
  font: 14px Arial;
  padding: 5px 10px 5px 10px;
  margin: 10px 0 10px 0;
  width:100%;
  border-color: #00A7C5;
  border-radius: 5px;
}

#task-dateTypeView{
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  width: 100%;
}

#task-dateType li{
  min-width: 40px;
  font-size: 16px;
  line-height: 30px;
  color: black;
  background-image: linear-gradient(90deg, #8DF8B7, #C0FFE0, #8DF8B7);
  border-bottom:2px solid #348EFF;
  flex-grow: 1;
  text-align: center;
  cursor: pointer;
}
#deadlineViewTab{
  border-top-left-radius: 15px;
}

#reminderViewTab{
  border-top-right-radius: 15px;
}

#task-dateTypeView .activeTaskTimeTab{

  background-image: linear-gradient(180deg, #A2FFE6, #E7FEFD 90%, #E7FEFD);
  color: #783864;
  border:1px solid #348EFF;
  border-bottom: none;
}

.task-items-li{
  line-height: 20px;
  padding: 5px;
  margin:3px 3px 3px 10px;
  background-color: #E6F4F1;
  border-radius: 5px;
}

.task-items{
  display:flex;
  align-items:center;
}
.taskCheckBox{
  margin:3px 10px 3px 3px;
}

.task-name{
  width:90%;
}

#taskViewMode .activeTaskTab{
  background-image: linear-gradient(90deg, #A2FFE6, #E7FEFD 90%, #E7FEFD);
  color: #783864;
  border-left: 2px solid #00AAAB;
  border-top: 1px solid #00AAAB;
  border-bottom: 1px solid #00AAAB;
  border-right: none;
}

.pastDateTimeTask{
  color:#F71B1B;
}

.priority-taskcount{
  margin: 0 10px 0 10px;
}

.taskFinished{
  text-decoration: line-through;
}

.filterDisplay-none{
  display: none!important;
}

.display-none{
  display: none;
}

.or-separator {
  width: 100%;
  border-bottom: solid 1px grey;
  position: relative;
  margin: 5px 0px;
}

.or-separator::before {
  content: "Or";
  position: absolute;
  left: 47%;
  top: -8px;
  background-color: #fff;
  padding: 0px 10px;
}
